#calc_container {
	display: flex;
	justify-content: center;
	height: 95vh;
}

#calculator_body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-width: 506px;
    background-color: grey;
    border: solid;
}

#calculator_display {
	display: flex;
	flex-wrap: wrap;
    background-color: lightgreen;
    width: 100%;
    height: 30%;
    margin: 50px;	
}

#display_top, #display_bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	border: solid;
	font-size: 30px;
	/*text-decoration: underline;*/
}

#display_bottom {
	font-size: 35px;
	text-decoration: none;
	font-weight: bold;
	border-top: none;
}

#display_top span, #display_bottom span {
	margin-right: 10px;
}

#tmp_container {
	display: flex;
    background-color: darkgrey;
    width: 100%;
    height: 52%;
    margin: 0 50px 50px 50px;
    border: solid;
}

#calculator_pad, #calculator_operations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: auto;
}

.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-width: 40px;
    /* min-height: 40px; */
    /* max-width: 70px; */
    /* max-height: 70px; */
    border: solid;
    border-color: black;
    color: white;
    font-size: 35px;
    flex: 1 0 auto;
    /* height: auto;*/
}

.func {
	margin: 10px 20px 10px 10px;
	background-color: black;
}

/*
#btn:before {
	content:'';
	float:left;
	padding-top:100%;
}